<div class="jumbotron text-center">
  <h1>Basically A Gambling App!</h1>
  <p class="lead">This is a bidding app! This app was created for my belt exam.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="spacer btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>An Awesome App.</h3>
    <p>Seriously. It's way more radical than you might expect. There's some gnarly bidding action within, boss man.</p>
  </div>
  <div class="col-md-4">
    <h3>Seriously Cool.</h3>
    <p>Honestly, you may have to register and then login to check it out. It's the only way to know if you're cool enough to legally gamble.</p>
  </div>
  <div class="col-md-4">
    <h3>Go For It!</h3>
    <p>Please register and login. It'll make me feel like there was a point in making such an elaborate register and login process.</p>
  </div>
</div>
